.tone1 {
  color: green;
}
.tone2 {
  color: magenta;
}
.tone3 {
  color: blue;
}
.tone4 {
  color: red;
}
.tone5 {
  color: gray;
}
.tone6 {
  color: black;
}

/* The main verses table */

th {
  font-weight: bolder;
  background-color: #eaffff ;
  vertical-align: top;
  outline-style: solid;
  outline-width: thin;
  outline-color: #e0e0e0;
  text-align: left;
}

td {
  text-align: left;
  vertical-align: top;
}
